@use '../../../../assets/styles/variables' as *;
@use '../../../../assets/styles/gradient-button.scss' as *;

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .login-form {
        box-shadow: $section-shadow;
        width: 75%;
        margin: auto;
        padding: 2rem;
        background-color: $white;
        border-radius: 30px;

        app-forms-socials {
            text-align: center;
        }

        mat-form-field {
            display: block;
            font-size: 2rem;
            margin-top: 20px;

            .password-hint {
                font-size: 1.5rem;
            }

            mat-icon {
                line-height: 2rem;
                font-size: 2rem;
                color: $primary;
                cursor: pointer;

                &:hover {
                    color: $accent;
                }
            }
        }

        app-error-message {
            &:not(.password-error-message) {
                position: relative;
                bottom: 2rem;
            }
        }

        .submit-btn {
            font-size: 1.3rem;
            display: block;
            margin: auto;
            margin-top: 2rem;
            padding: 0.5rem 1rem;
        }
    }
}
