<section class="about public-section">
    <h2 class="public-heading"><span>about</span> us</h2>

    <div class="row">
        <div class="image">
            <img
                src="../../../../assets/images/about-image.avif"
            />
        </div>

        <div class="content">
            <h3>What makes <span class="color-primary">us special</span>?</h3>

            <p>
                At our company, we are passionate about providing the highest quality air conditioning solutions to our customers. With
                years of experience in the industry, we have built a reputation for excellence and reliability.
                We understand that every home and business has unique cooling needs, which is why we offer a wide range of products and
                services to meet your specific requirements. Whether you need a new installation, maintenance, or repairs, our team of
                experts is dedicated to delivering exceptional service and results.
            </p>

            <a  href="#" class="gradient-button">
                Learn more
            </a>
        </div>
    </div>
</section>
