@use '../../../../assets/styles/variables' as *;
@use '../../../../assets/styles/gradient-button.scss' as *;

.row {
    display: flex;
    align-items: center;
    background: $black;
    flex-wrap: wrap;
    border-radius: 40px;

    .image {
        border-radius: 40px;
        flex: 1 1 45rem;

        img {
            border-radius: 40px;
            width: 100%;
        }
    }

    .content {
        flex: 1 1 45rem;
        padding: 2rem;

        h3 {
            font-size: 3rem;
            color: $white;

            span {
                color: $primary;
            }
        }

        p {
            font-size: 1.6rem;
            color: $white;
            padding: 1rem 0;
            line-height: 1.8;
        }

        .gradient-button {
            display:inline-block ;
            margin-top: 1rem;
            padding: 0.7rem 2rem;
            font-size: 1.5rem;

            &:hover {
                background: $primary;
            }
        }
    }
}
