<header>
    <nav>
        <a class="nav-link" routerLink="" fragment="about-us">
            <i class="nav-link-icon fa-solid fa-address-card"></i>
            About us
        </a>
        <a class="nav-link" routerLink="" fragment="features">
            <i class="nav-link-icon fa-solid fa-face-smile"></i>
            Features
        </a>
        <a class="nav-link" routerLink="" fragment="reviews">
            <i class="nav-link-icon fa-solid fa-star"></i>
            Reviews
        </a>
        <a class="nav-link" routerLink="" fragment="contact-us">
            <i class="nav-link-icon fa-solid fa-phone"></i>
            Contact us</a
        >
        <a class="nav-link" routerLink="" fragment="blogs">
            <i class="nav-link-icon fa-solid fa-link"></i>
            Blogs
        </a>
        <a class="nav-link login-btn" id="login-btn" routerLink="/public/login">
            <i class="nav-link-icon fa-solid fa-right-to-bracket"></i>
            Login
        </a>
    </nav>
</header>
