@use '../../../../../assets/styles/breakpoints' as *;
@use '../../../../../assets/styles/variables' as *;

header {
    background: $background;
    display: flex;
    justify-content: space-between;
    padding: 1rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    #menu-btn {
        font-size: 2.5rem;
        cursor: pointer;
        display: none;
        background-color: $primary;
        color: white;
    }

    nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 2rem;

        .nav-link {
            background-color: $primary;
            font-size: 1.5rem;
            color: $white;
            padding: 0.5rem 1.5rem;
            border-radius: 20px;
            transition: 0.2s linear;
            text-align: center;
            box-shadow: $button-shadow;

            &#login-btn {
                margin-left: auto;
            }

            .nav-link-icon {
                margin-right: 0.5rem;
            }

            &:hover {
                letter-spacing: 0.2rem;
                background-color: $white;
                color: $primary;
            }
        }
    }
}

@media (max-width: $large-size-screen) {
    header {
        padding: 1.5rem 2rem;

        nav {
            .nav-link {
                &#login-btn {
                    margin: 0;
                }
            }
        }
    }
}

@media (max-width: $medium-size-screen) {
    header {
        nav {
            justify-content: space-between;
        }
    }
}

@media (max-width: $small-size-screen) {
    header {
        nav {
            .nav-link:not(#login-btn) {
                display: none;
            }

            #menu-btn {
                display: inline-block;
            }
        }
    }
}

.mat-menu-item {
    mat-icon {
        color: $primary;
    }
}
