<div class="wrapper">
	<h3>Are you sure you want to <span>order</span> this air conditioner?</h3>

	<div class="buttons-container">
		<button (click)="createOrder()" class="default-button">Yes</button>
		<button (click)="closeDialog()" class="default-button  sec-accent-button">No</button>
	</div>
</div>
