
@use '../../../../../assets/styles/variables.scss' as * ;
@import '../../../../../assets/styles/mixins.scss';

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	gap: 15px;
	position: relative;
	z-index: 1;
	font-size: 16px;

	h3 {
		margin-top: 0.5rem;

		span {
			color: $accent
		}
	}

	.buttons-container {
		display: flex;
		justify-content: space-between;
		gap: 30px;
		margin-top: 1.5rem;
        
        .default-button {
            width: 140px;
            padding: 0 16px;
            font-size: 16px;
            font-weight: 600;
            line-height: 36px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            background-color: rgb(154, 221, 55);
            color: #FFF;
        }

        .sec-accent-button {
            background-color: red;
        }
	}
}
