@use '../../../../assets/styles/variables' as *;

.socials {
    a {
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
        font-size: 2rem;
        margin: 1.5rem;
        margin-left: 5rem;
        border-radius: 50%;
        background-color: $white;

        &:hover {
            background-color: #fff;
        }

        &.facebook,
        &.twitter,
        &.linkedin {
            color: $blue;
            border: 0.3rem solid $blue;
        }

        &.instagram {
            color: orange;
            border: 0.3rem solid orange;
        }
    }
}
