<div class="profile">
	<div class="profile-image">
		<img
			[src]="user.profilePictureUrl"
		/>
		<div class="user-role">
			<p>{{ user.role | titlecase }}</p>
		</div>
	</div>

	<div class="profile-info-container">
		<div class="profile-username-location">
			<h2 class="username">{{ user.userName }}</h2>
			<div class="location">
				<mat-icon> badge </mat-icon>
				<span>{{ user.firstName + " " + user.lastName }}</span>
			</div>
		</div>

		<div class="profile-data-container">
			<div class="profile-data profile-email">
				<mat-icon> mail </mat-icon>
				<a href="mailto: {{ user.email }}">{{
					user.email
				}}</a>
			</div>

			<div class="profile-data">
				<mat-icon> call </mat-icon>
				<a href="tel:{{ user.phoneNumber }}">{{ user.phoneNumber }}</a>
			</div>

			<div *ngIf="isExtendedVersion">
				<div class="profile-data">
					<mat-icon> calendar_month </mat-icon>
					<div>22.09.2003</div>
				</div>

				<div class="profile-data">
					<mat-icon> code </mat-icon>
                    <span>gosho</span>
                    <span>tosho</span>
				</div>
			</div>
		</div>

		<div class="profile-btn-container">
			<button
				*ngIf="!isExtendedVersion"
				class="btn btn--icon more"
				[routerLink]="['/users', user.id]"
				title="View Profile"
			>
				<mat-icon> info </mat-icon>
			</button>
			<button
				*ngIf="currentUserService.isAdmin"
				class="btn btn--icon delete"
				title="Delete User"
				(click)="openDeleteUserDialog(user.id)"
			>
				<mat-icon> delete </mat-icon>
			</button>
			<button
				*ngIf="
					currentUserService.isAdmin ||
					currentUserService.currentUser?.id === user.id
				"
				class="btn btn--icon edit"
				title="Edit"
				(click)="openUpdateUserDialog()"
			>
				<mat-icon> edit </mat-icon>
			</button>
		</div>
	</div>
</div>
