<section class="features public-section">
    <h2 class="public-heading">our <span>features</span></h2>

    <div class="features-container">
        <app-feature
            [imageSource]="'../../../../assets/images/feature1.avif'"
            [title]="'Air conditioners'"
        >
        </app-feature>

        <app-feature
            [imageSource]="'../../../../assets/images/feature2.avif'"
            [title]="'Orders'"
        >
        </app-feature>

        <app-feature
            [imageSource]="'../../../../assets/images/feature3.avif'"
            [title]="'Maintenance'"
        >
        </app-feature>

        <app-feature
            [imageSource]="'../../../../assets/images/feature4.avif'"
            [title]="'Amazing support'"
        >
        </app-feature>
    </div>
</section>
