@use '../../../../assets/styles/custom-styles.scss' as *;

.features-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 4rem;
    row-gap: 1rem;
}
