<article class="profile">
	<div class="btn-container">
		<button
			*ngIf="!isExtendedVersion"
			class="btn--icon"
			[routerLink]="['/main/air-conditioners', airConditioner.id]"
			title="View Profile"
		>
			<mat-icon> info </mat-icon>
		</button>
		<button
			*ngIf="currentUserService.isAdmin"
			class="btn--icon"
			title="Delete User"
			(click)="openDeleteAirConditionerDialog(airConditioner.id)"
		>
			<mat-icon> delete </mat-icon>
		</button>
		<button
			*ngIf="
				currentUserService.isAdmin 
			"
			class="btn--icon"
			title="Edit"
			(click)="openUpdateAirConditionerDialog()"
		>
			<mat-icon> edit </mat-icon>
		</button>
	</div>

	<div class="profile-image">
		<img [src]="airConditioner.pictureUrl" />
	</div>

	<h2 class="profile-username">{{ airConditioner.model}}</h2>

	<div class="profile-data-container">
        <div class="profile-data" title="Names">
            <mat-icon> factory </mat-icon>
            <span>Manufacturer: {{airConditioner.manufacturer}}</span>
        </div>

		<div class="profile-data" title="Email">
			<mat-icon> credit_card </mat-icon>
            <span>Price: {{ airConditioner.price | currency }}</span>
		</div>

		<div class="profile-data" title="Phone number">
			<mat-icon> flag </mat-icon>
			<span>Country: {{ airConditioner.country}}</span>
		</div>

        <button
            *ngIf="!isExtendedVersion"
            class="gradient-button" 
            (click)="openConfirmOrderDialog(airConditioner.id)"
        >
            Order
        </button>
		<div *ngIf="isExtendedVersion">
        <div class="profile-data" title="Air conditioners">
            <mat-icon> remove_done </mat-icon>
            <div>
                <span>Type: {{airConditioner.airConditionerType}} </span>
            </div>
        </div>
			<div class="profile-data" title="Date of birth">
				<div>Description: {{airConditioner.description}}</div>
			</div>

        <button
            class="gradient-button" 
            (click)="openConfirmOrderDialog(airConditioner.id)"
        >
            Order
        </button>
		</div>
	</div>
</article>
