.container {
	display: flex;

	.content {
		width: 100%;
		height: 100%;
	}
}

@media only screen and (max-width: 900px) {
	.container {
		.content {
			margin-left: 75px;
		}
	}

	.container-overlay {
		z-index: 2;
		position: fixed;
		width: 100vw;
		height: calc(100vh - var(--header-height));
		background: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(2px);
	}
}
