<app-header (toggleSide)="onNavigationToggle()"></app-header>
<div class="container">
	<app-sidebar
		[isOpen]="isOpen"
		(toggleSide)="onNavigationToggle()"
		(sideClick)="changePage()"
	></app-sidebar>
	<div
		[ngClass]="isOpen ? 'container-overlay' : ''"
		(click)="onNavigationToggle()"
	></div>

	<main class="content">
		<app-ng-dynamic-breadcrumb
			[bgColor]="'transparent'"
			[fontSize]="'16px'"
			[fontColor]="'#ec9e68'"
			[lastLinkColor]="'#000'"
			[symbol]="' << '"
		></app-ng-dynamic-breadcrumb>
		<router-outlet></router-outlet>
	</main>
</div>
