<section class="blogs public-section">
    <h2 class="public-heading">our <span>blogs</span></h2>
    <div class="blogs-container">
        <app-blog
            [title]="'10 Air Conditioning Tips'"
            [imageSource]="'../../../../assets/images/blog1.jpg'"
            [blogSource]="
                'https://www.nhs.uk/live-well/exercise/exercise-health-benefits/'
            "
        >
            See why physical training is arguably the most wise use of your
            time.
        </app-blog>

        <app-blog
            [title]="'How Air Conditioners Work'"
            [imageSource]="'../../../../assets/images/blog2.jpg'"
            [blogSource]="'https://home.howstuffworks.com/ac.htm'"
        >
            It's time to stop neglecting the most important muscle in your body
        </app-blog>

        <app-blog
            [title]="'10 Air Conditioners Facts'"
            [imageSource]="'../../../../assets/images/blog3.jpg'"
            [blogSource]="
                'https://www.hitachiaircon.com/newsroom/en/news/10-curious-facts-about-air-conditioners-that-you-didn-t-know'
            "
        >
            Learn why and how you can build muscle without strict diets.
        </app-blog>
    </div>
</section>
