<form
	[formGroup]="createAirConditionerForm"
	(ngSubmit)="onSubmit()"
	class="create-user-form modal-container scrollbar"
>
	<div class="close-btn-wrap">
		<button
			type="button"
			mat-icon-button
			class="close-button"
			[disabled]="loading"
		>
			<mat-icon mat-dialog-close>close</mat-icon>
		</button>
	</div>

	<h2 class="title">{{ title }}</h2>

	<div class="flex-container">
		<div class="form-fields-container">
			<mat-form-field>
				<input matInput placeholder="Model" formControlName="model" />
			</mat-form-field>
			<app-error-message [control]="modelControl"> </app-error-message>

			<mat-form-field>
				<input matInput placeholder="Manufacturer" formControlName="manufacturer" />
			</mat-form-field>
			<app-error-message [control]="manufacturerControl"> </app-error-message>

			<mat-form-field>
				<input
					matInput
					placeholder="Country"
					formControlName="country"
				/>
			</mat-form-field>
			<app-error-message [control]="countryControl"> </app-error-message>

			<mat-form-field>
				<input
					matInput
					placeholder="Price"
					formControlName="price"
				/>
			</mat-form-field>
			<app-error-message [control]="priceControl"> </app-error-message>

			<div class="roles">
				<p class="roles-label">Type*</p>

				<mat-button-toggle-group
					id="roles"
					formControlName="airConditionerType"
					aria-labelledby="Types"
				>
					<mat-button-toggle
						[disabled]="!currentUserService.isAdmin"
						*ngFor="let role of types"
						[value]="role"
					>
						{{ role | titlecase }}
					</mat-button-toggle>
				</mat-button-toggle-group>
			</div>

			<mat-form-field>
				<input
					matInput
					placeholder="Description"
					formControlName="description"
				/>
			</mat-form-field>
			<app-error-message [control]="descriptionControl">
			</app-error-message>

		</div>
		<div class="profile-picture-container">
			<img
				[src]="
					pictureUrlControl?.value ||
					'../../../../../assets/images/blank-profile-picture.webp'
				"
				alt="profile-picture"
				class="profile-picture"
			/>

            <app-upload-widget (newPictureUploaded)="onNewPhotoSelected($event)"></app-upload-widget>
		</div>
	</div>
	<div class="btn-flex">
		<button
			mat-raised-button
            color="primary"
			type="submit"
			[disabled]="!createAirConditionerForm.valid"
			class="submit-btn"
		>
			Submit
		</button>
	</div>
</form>
