@use '../../../../../assets/styles/variables.scss' as *;
@import '../../../../../assets/styles/mixins.scss';

.create-user-form {
	//Layout
	max-height: 80vh;
	margin: auto;
	padding: 40px;
	background-color: white;
	overflow-x: hidden;

	//Styling
	border-radius: 30px;

    &::-webkit-scrollbar {
        width: 0.8rem;
        background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary;
        border-radius: 5rem;
    }

	.title {
		position: relative;
		bottom: 2rem;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		color: $primary;
		font-size: 2.5rem;
		font-weight: 500;
	}

	.close-btn-wrap {
        width: 40px;
        height: 40px;
		z-index: 3;
		position: -webkit-sticky;
		position: sticky;
		top: 0px;
		left: 100%;
        padding-top: 10px;

        &:hover {
            border-radius: 50%;
            background-color: $white;
        }

		.close-button {
			display: flex;
			align-self: center;
			justify-content: center;
			color: $accent;
			border-radius: 50%;
			font-weight: bold;
			cursor: pointer;

			.mat-icon {
                    height: 40px;
                    width: 40px;
				display: flex;
				align-self: center;
				justify-content: center;

			}
		}
	}

	.flex-container {
		//Layout
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		.form-fields-container {
			width: 60%;

			.roles {
				display: flex;
				align-items: center;
				margin: 1rem 0;

				&-label {
					color: $black;
					opacity: 0.75;
					margin-right: 20px;
				}

				.mat-button-toggle-group {
					border-radius: 5px;
					border: none;
					line-height: 0;

					.mat-button-toggle-button {
						padding: 0 15px;
						font-size: 16px;
						color: $black; 

						.mat-button-toggle-label-content {
							line-height: 35px;
							letter-spacing: 1px;
						}
					}
				}

				.mat-button-toggle-appearance-standard {
					background-color: icons-light-grey !important;
				}

				.mat-button-toggle-checked {
					background-color: $primary !important;
					font-weight: bold;
				}
			}

			mat-radio-group {
				display: block;
				text-align: center;
				margin-bottom: 10px;

				mat-radio-button {
					margin-right: 10px;
					font-size: 1rem;
				}
			}

			mat-form-field {
				display: block;
				font-size: 1rem;

				input {
					caret-color: red;
				}
			}

			app-error-message {
				font-size: 0.75rem;
				position: relative;
				bottom: 1rem;
			}
		}

		.profile-picture-container {
			width: 35%;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 2rem;

			.profile-picture {
				width: 270px;
				margin-bottom: 10px;
				border-radius: 50%;
				height: 270px;
			}

			.error-message {
				text-align: center;
				color: $accent;
				margin-bottom: 1.5rem;
			}

            app-upload-widget {
                margin-top: 1rem;
                font-size: 0.7rem;
            }
		}
	}
	.btn-flex {
		width: 60%;
		display: flex;
		justify-content: center;
		align-items: center;

		.submit-btn {
			margin-top: 2rem;
			padding: 3px 60px;
		}
	}
}

//Responsive
@media (max-width: 1200px) {
	.create-user-form {
		.title {
			font-size: 2.5rem;
		}

		.flex-container {
			flex-direction: column;
			align-items: center;

			.form-fields-container {
				order: 1;
				width: 100%;

				.roles {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;

					&-label {
						margin-bottom: 1rem;
					}
				}
			}
		}

		.btn-flex {
			width: 100%;
		}
	}
}

@media (max-width: 660px) {
	.create-user-form {
		padding: 25px;

		.title {
			font-size: 2rem;
		}

		.flex-container {
			.profile-picture-container {
				.profile-picture {
					width: 240px;
					height: 240px;
				}
			}

			.roles {
				.mat-button-toggle-button {
					font-size: 16px !important;
					padding: 0 6px !important;
				}
			}
		}
	}
	.scrollbar {
		&::-webkit-scrollbar {
			width: 20px;
		}
	}
}

@media (max-width: 426px) {
	.create-user-form {
		padding: 20px;

		.title {
			display: flex;
			justify-content: center;
			margin-top: 2.5rem;
			margin-bottom: 0;
		}

		.close-btn-wrap {
			left: 94%;
		}

		.flex-container {
			.profile-picture-container {
				.profile-picture {
					width: 200px;
					height: 200px;
				}
			}

			.roles {
				.mat-button-toggle-button {
					padding: 0 0 !important;
				}

				.mat-button-toggle-label-content {
					padding: 0 8px !important;
				}
			}
		}
	}

	.scrollbar {
		&::-webkit-scrollbar {
			width: 12px;
		}
	}
}
