@use '../../../../assets/styles/variables' as *;
@use '../../../../assets/styles/breakpoints' as *;
@use '../../../../assets/styles/gradient-button.scss' as *;

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .register-form {
        box-shadow: $section-shadow;
        width: 75%;
        margin: auto;
        padding: 2rem;
        background-color: $white;
        border-radius: 30px;

        app-forms-socials {
            text-align: center;
        }

        .flex-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .form-fields-container {
                width: 60%;

                mat-form-field {
                    display: block;
                    font-size: 1.75em;

                    .password-hint {
                        font-size: 1.25rem;
                    }

                    mat-icon {
                        line-height: 2rem;
                        font-size: 2rem;
                        color: $primary;
                        cursor: pointer;

                        &:hover {
                            color: $accent;
                        }
                    }
                }

                app-error-message {
                    font-size: 1.125rem;

                    &:not(.password-error-message) {
                        position: relative;
                        bottom: 1.75rem;
                    }
                }
            }

            .profile-picture-container {
                width: 35%;

                .profile-picture {
                    max-width: 100%;
                    margin-bottom: 20px;
                    border: 0.2rem solid $primary;
                    border-radius: 30px2;
                }

                app-upload-widget {
                    display: block;
                    text-align: center;
                }
            }
        }

        .submit-btn {
            font-size: 1.5rem;
            padding: 0.4rem 2rem;
            display: block;
            margin: auto;
            margin-top: 2rem;
        }
    }
}

@media (max-width: $large-size-screen) {
    section {
        .register-form {
            .flex-container {
                flex-direction: column;
                align-items: center;

                .profile-picture-container {
                    order: 0;
                }

                .form-fields-container {
                    order: 1;
                    width: 100%;
                }
            }
        }
    }
}
