<form [formGroup]="contactUsForm" (ngSubmit)="onSubmit()">
    <h3><span class="black-text">Get in</span> touch</h3>

    <mat-form-field>
        <mat-icon class="input-icon" matPrefix>chat</mat-icon>
        <input matInput placeholder="Your message" formControlName="message" />
    </mat-form-field>
    <app-error-message [control]="messageControl"> </app-error-message>

    <mat-form-field class="input matInput">
        <mat-icon class="input-icon" matPrefix>alternate_email</mat-icon>
        <input
            matInput
            type="email"
            placeholder="Your email"
            formControlName="senderEmail"
        />
    </mat-form-field>
    <app-error-message [control]="emailControl"> </app-error-message>

    <mat-form-field>
        <mat-icon class="input-icon" matPrefix>draw</mat-icon>
        <input matInput placeholder="Your name" formControlName="senderName" />
    </mat-form-field>
    <app-error-message [control]="nameControl"> </app-error-message>

    <button
        type="submit"
        color="primary"
        [disabled]="!contactUsForm.valid"
        class="gradient-button"
    >
        Send
    </button>
</form>
