@use '../../../../assets/styles/variables' as *;
@use '../../../../assets/styles/gradient-button.scss' as *;

:host {
    flex: 1 1 45rem;
}

form {
    padding: 5rem 2rem;

    h3 {
        text-transform: uppercase;
        font-size: 3.5rem;
        color: $primary;
        text-align: center;

        .black-text {
            color: $black;
        }
    }

    mat-form-field {
        display: block;
        font-size: 1.5rem;

        .input-icon {
            margin-right: 1rem;
            color: $primary;
            font-size: 2rem;
            height: 2rem;
            position: relative;
        }

        input {
            font-size: 1.5rem
        }

        margin-bottom: 1rem;
    }

    app-error-message {
        position: relative;
        bottom: 2rem;
    }

    button {
        font-size: 1.5rem;
        display: block;
        margin: auto;
        padding: 0.7rem 2rem;

        &:hover {
            background: $primary;
        }
    }
}
