<section class="reviews public-section">
    <h1 class="public-heading">customer's <span>review</span></h1>

    <div class="reviews-container">
        <app-review
            [imageSource]="'../../../../assets/images/customers-review-2.jpg'"
            [starsCount]="4"
            [shouldAddHalfStarAtTheEnd]="true"
            [name]="'Natalie Brunell'"
        >
            I recently purchased a new air conditioning system and I am extremely happy with my purchase. The unit is efficient, quiet, and keeps my home at a perfect temperature. I no longer have to worry about sweating through the summer months. I would highly recommend this air conditioning system to anyone in the market for a new one.
        </app-review>
        <app-review
            [imageSource]="'../../../../assets/images/customers-review-1.jpg'"
            [starsCount]="4"
            [name]="'Michael Saylor'"
        >
            I've had this air conditioning system for several years now and it has never let me down. It cools my home quickly and effectively, and I've never had any issues with it. The unit is also energy efficient, which has helped me save money on my electricity bill. I would definitely recommend this air conditioning system to anyone looking for a reliable and cost-effective cooling solution
        </app-review>
        <app-review
            [imageSource]="'../../../../assets/images/customers-review-3.jpg'"
            [starsCount]="4"
            [name]="'Brenda Gentry'"
        >
            I am extremely happy with my air conditioning system. It keeps my home cool and comfortable all summer long, and I've never had any problems with it. The installation process was easy and the technicians were professional and knowledgeable. I highly recommend this air conditioning system to anyone in need of a reliable and efficient cooling solution.
        </app-review>
    </div>
</section>
