<div class="review">  
    <img src="../../../../assets/images/quote-img.png" alt="quote-imgage"> 
    <p>
        <ng-content></ng-content>
    </p>
    <img
        [src]="imageSource"
        class="user"
        alt="User image"
    />
    <h3>{{name}}</h3>
    
    <div class="stars"> 
        <i class="fas fa-star" *ngFor="let star of emptyArrayOfSizeStarsCount"></i>          
        <i class="fas fa-star-half-alt" *ngIf="shouldAddHalfStarAtTheEnd"></i>                            
    </div>
</div>