<div class="wrapper">
	<h3>Are you sure you want to <span>delete</span> the user?</h3>

	<div class="buttons-container">
		<button (click)="deleteUser()" class="default-button">Yes</button>
		<button (click)="closeDialog()" class="default-button  sec-accent-button">No</button>
	</div>
</div>
