@import '../../../../../assets/styles/mixins.scss';
@import '../../../../../assets/styles/variables';

.page {
    .title {
        display: block;
        text-align: center;
        color: $primary;
    }

    .display-cards-btns {
        background-color: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;

        mat-button-toggle-group {
            border-radius: 4px;
            box-shadow: $button-shadow;

            mat-button-toggle {
                height: 40px;
                color: $primary;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    color: $accent;
                }

                mat-icon {
                    font-size: 20px;

                    &:hover {
                        font-size: 22px;
                    }
                }
            }

            .inactive {
                background-color: primary;
            }

            .active {
                background-color: transparent;
            }
        }
    }

    .container {
        width: 100%;
        display: flex;
        padding: 30px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .flex-row {
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }

        .top-row {
            width: 100%;
            margin-bottom: 30px;
            margin-right: 1rem;

            .create-user-btn {
                padding: 0.7rem 1.1rem;
            }

        }


        .filter-row {
            width: 100%;
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            mat-paginator {
                margin-top: 15px;
                background-color: transparent;
                align-self: flex-start;
            }

            form {
                display: flex;
                align-items: center;

                .form-buttons {
                    margin-left: 15px;
                }

                .mat-form-field,
                button {
                    margin-right: 5px;
                }
            }

            .no-users-message {
                color: $text;
            }
        }

        .card-wrap {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 2%;

            .user-card {
                margin-bottom: 2%;
                width: 23%;
            }
        }

        .list-wrap {
            width: 100%;

            .user-list-item {
                margin-bottom: 6rem;
            }
        }
    }

    @media only screen and (max-width: 1250px) {
        .container {
            .card-wrap {
                .user-card {
                    width: 32%;
                }
            }
            .filter-row {
                mat-paginator {
                    align-self: center;
                }

                form {
                    flex-direction: column;
                    justify-content: center;

                    .form-inputs {
                        display: flex;
                        justify-content: center;
                        & > * {
                            width: 25%;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1024px) {
        .container {
            .card-wrap {
                justify-content: space-between;

                .user-card {
                    width: 48%;
                }
            }
        }
    }

    @media only screen and (max-width: 768px) {
        .container {
            flex-wrap: wrap;
            padding: 15px;
        }
    }

    @media only screen and (max-width: 670px) {
        .container {
            justify-content: center;

            .card-wrap {
                justify-content: flex-start;
                align-items: center;

                .user-card {
                    min-width: 100%;
                }
            }

            .filter-row {
                form {
                    .form-inputs {
                        flex-direction: column;
                        align-items: center;
                        & > * {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}