<div class="page">
    <div >
        <h1 class="title">Users page</h1>
        <div class="display-cards-btns" ngDefaultControl>
            <mat-button-toggle-group>
                <mat-button-toggle
                    (click)="isListDisplayed = true"
                    [ngClass]="{
                        inactive: isListDisplayed,
                        active: !isListDisplayed
                    }"
                >
                    <mat-icon>list</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle
                    (click)="isListDisplayed = false"
                    [ngClass]="{
                        inactive: !isListDisplayed,
                        active: isListDisplayed
                    }"
                >
                    <mat-icon><i class="user-list"></i>grid_on</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
    <div class="container">
        <div class="flex-row">
            <div class="top-row">
                <button
                    *ngIf="currentUserService.isAdmin"
                    (click)="openCreateUserDialog()"
                    class="gradient-button create-user-btn"
                >
                    Create user
                </button>
            </div>
        </div>
        <div class="filter-row">
            <form [formGroup]="filterForm">
                <div class="form-inputs">
                    <mat-form-field appearance="legacy">
                        <input
                            formControlName="firstName"
                            type="text"
                            matInput
                            placeholder="First name"
                        />
                    </mat-form-field>
                    <mat-form-field appearance="legacy">
                        <input
                            formControlName="lastName"
                            type="text"
                            matInput
                            placeholder="Last name"
                        />
                    </mat-form-field>
                    <mat-form-field appearance="legacy">
                        <input
                            formControlName="email"
                            type="text"
                            matInput
                            placeholder="Email"
                        />
                    </mat-form-field>
                    <mat-form-field appearance="legacy">
                        <input
                            formControlName="phoneNumber"
                            type="text"
                            matInput
                            placeholder="Phone number"
                        />
                    </mat-form-field>
                </div>

                <div class="form-buttons">
                    <button mat-flat-button color="accent" (click)="applyFilters()">
                        Apply Filters
                    </button>
                    <button
                        mat-flat-button
                        color="primary"
                        (click)="applyFilters(true)"
                    >
                        Reset Filters
                    </button>
                </div>
            </form>
            <mat-paginator
                [length]="count"
                [pageSize]="size"
                [pageSizeOptions]="[12, 24, 60, 120]"
                showFirstLastButtons
            ></mat-paginator>
        </div>
        <p *ngIf="!users.length" class="no-users-message">No users available</p>

        <div *ngIf="!isListDisplayed" class="card-wrap">
            <app-user-card
                *ngFor="let user of users"
                [user]="user"
                (deleteUser)="onDeletedUser(user)"
                [isExtendedVersion]="false"
                class="user-card"
            ></app-user-card>
        </div>

        <div *ngIf="isListDisplayed" class="list-wrap">
            <div class="user-list-item" *ngFor="let user of users">
                <app-users-list-item
                    [user]="user"
                    (deleteUser)="onDeletedUser(user)"
                    [isExtendedVersion]="false"
                    class="user-list"
                >
                </app-users-list-item>
            </div>
        </div>
    </div>
</div>