@use '../../../../../assets/styles/variables' as *;
@import '../../../../../assets/styles/mixins.scss';

main {
	padding: 20px 20px;
	margin: 0 auto;

	section {
		display: none;
		padding: 20px 0 0;
		border-top: 1px solid #888;

		.user-card-container {
			display: flex;
			flex-direction: column;
			width: 40%;
		}
	}

	input {
		display: none;

		&:checked + label {
			color: orange;
			border: 1px solid #888;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			border-top: 2px solid $primary;
			border-left: 2px solid $primary;
			border-right: 2px solid $primary;
		}
	}

	label {
		display: inline-block;
		margin: 0 0 -1px;
		padding: 15px 25px;
		font-weight: 600;
		text-align: center;
		border: 1px solid transparent;

		&:before {
			font-family: 'Material Icons';
			font-weight: normal;
			margin-right: 10px;
		}

		&[for*='1']:before {
			content: 'person';
		}

		&[for*='2']:before {
			content: 'timeline';
		}

		&[for*='3']:before {
			content: 'feed';
		}

		&:hover {
			color: #888;
			cursor: pointer;
		}
	}

	#tab1:checked ~ #content1,
	#tab2:checked ~ #content2,
	#tab3:checked ~ #content3 {
		display: block;
	}
}

@media only screen and (max-width: 1200px) {
	main {
		section {
			.user-card-container {
				width: 60%;
			}
		}
	}
}

@media only screen and (max-width: 650px) {
	main {
		section {
			.user-card-container {
				width: 100%;
			}
		}

		label {
			font-size: 0;

			&:before {
				margin: 0;
				font-size: 18px;
			}
		}
	}
}
@media only screen and (max-width: 400px) {
	main {
		label {
			padding: 15px;
		}
	}
}
