<main>
	<input id="tab1" type="radio" name="tabs" checked />
	<label for="tab1">Profile</label>

	<input id="tab2" type="radio" name="tabs" />
	<label for="tab2">Ongoing repairs</label>

	<input id="tab3" type="radio" name="tabs" />
	<label for="tab3">Past repairs</label>

	<section id="content1">
		<div class="user-card-container">
			<app-user-card
				*ngIf="user"
				[user]="user"
				(deleteUser)="onDeleteUser(user)"
				[isExtendedVersion]="true"
			></app-user-card>
		</div>
	</section>

	<section id="content2">
        works fine
    </section>

	<section id="content3">
        fine as well
    </section>
</main>
