@use '../../../../assets/styles/variables' as *;

.row {
    display: flex;
    background: $white;
    flex-wrap: wrap;
    gap: 4rem;
    border-radius: 40px;

    .map {
        border-radius: 40px;
        flex: 1 1 45rem;
        width: 100%;
        object-fit: cover;
    }
}
