@use '../../../../assets/styles/variables' as *;

:host {
	display: contents;
}

mat-form-field {
	width: 100%;

	::ng-deep.mat-form-field-underline {
		/*change color of underline*/
		background-color: rgb(129, 128, 127);
	}

	mat-label {
		color: $gray;
	}

	.mat-icon {
		color: $primary;
		cursor: pointer;
	}
}
