<mat-form-field>
	<mat-label>{{ placeholder }}</mat-label>
	<input
		matInput
		type="password"
		[name]="controlName"
		[ngModel]="passwordValue"
		(ngModelChange)="onInput($event)"
		[disabled]="disabled"
		#password
	/>
	<mat-icon
		color="warn"
		matSuffix
		(click)="
			password.type = password.type === 'password' ? 'text' : 'password'
		"
		>{{ password.type === 'password' ? 'visibility' : 'visibility_off' }}
	</mat-icon>
</mat-form-field>
