@use '../../../../../assets/styles/variables' as *;
@import '../../../../../assets/styles/mixins.scss';

.profile {
	@include background-image-gradient(
		$first-logo-gradient,
		$second-logo-gradient,
		15%,
		20%,
        #fff
	);

	width: 100%;
	position: relative;
	background-color: #fff;
	background-clip: padding-box;
	border: 3px solid transparent;
    box-shadow: 0 10px 10px -10px $black;
	border-radius: 16px;

	&:hover {
		.profile-image {
			transform: scale(1.03);
		}
	}

	&:after {
		content: '';
		display: block;
		top: -3px;
		left: -3px;
		bottom: -3px;
		right: -3px;
		z-index: -1;
		position: absolute;
		border-radius: 16px;

		@include background-image-gradient(
			$first-logo-gradient,
			$second-logo-gradient,
			20%,
			30%,
			$second-logo-gradient
		);
	}

	.profile-image {
		border-radius: 50%;
		overflow: hidden;
		width: 9rem;
		height: 9rem;
		position: relative;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
		}
	}

	&-data {
		a {
			color: $gray;
			letter-spacing: 1px;

			&:hover {
				color: $accent;
			}
		}

		.mat-icon {
			color: $gray;
		}
	}

	.btn {
		background-color: transparent;
		border: 0;
		cursor: pointer;
		transition: 0.15s ease;

		&--icon {
			height: 40px;
			width: 40px;
			border-radius: 50%;
			color: $primary;
		}
	}
}
