<section>
    <i class="fa-solid fa-lock lock"></i>
    <h1>Access to this page is restricted</h1>
    <p>Please check with the site admin if you believe this is a mistake.</p>
    <div>
        <button 
            mat-raised-button 
            color="primary"
            class="btn" 
            (click)="navigateToHomePage()"
        >
            Go back 
        </button>
    </div>
</section>
