@use '../../../../assets/styles/variables' as *;

.sidebar {
	background-color: $gray;
	flex-shrink: 0;
	overflow: hidden;
	width: 75px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	display: flex;
	flex-direction: column;
	height: calc(100vh - var(--header-height));
	padding-top: 1rem;
	align-items: center;
	justify-content: stretch;
	transition: width 0.5s ease-in;
	position: sticky;
	left: 0;

	&.open {
		width: 200px;

		.top-sidebar {
			height: 125px;

			.close-icon {
				opacity: 1;
			}

			.logo {
				width: 90px;
				height: 90px;

				img {
					width: 100%;
					height: 100%;
				}
			}
		}

		.hidden-sidebar {
			width: 100%;
			height: auto;
			opacity: 1;
		}
	}

	.side-item {
		width: 100%;
	}

	.top-sidebar {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 30px;
		transition: height 0.5s ease-in ;
		.logo {
			width: 30px;
			height: 30px;
			transition: 0.5s ease-in ;
			margin-top: 0.5rem;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	.middle-sidebar {
		flex-grow: 1;
		margin: 1rem 0;
		width: 100%;
	}

	.bottom-sidebar {
		width: 100%;
		margin-bottom: 1.5rem;
		display: flex;
		justify-content: center;

		::ng-deep.mat-slide-toggle-bar {
			margin: 0 19px;
		}

		app-side-item {
			display: none;
		}

		mat-icon {
			width: 1.5rem;
			color: #f6f7eb;
		}
	}

	.sidebar-list {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		list-style: none;
	}

	.hidden-sidebar {
		opacity: 0;
		width: 0;
		transition: opacity 0.5s ease-in;
	}
}

@media only screen and (max-width: 900px) {
	.sidebar {
		z-index: 3;
		position: fixed;

		&.open {
			width: 250px;
		}
	}
}
