@use '../../../../../../assets/styles/variables' as *;

mat-dialog-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	form {
		display: contents;

		label {
			color: $accent;
			font-size: 1.3rem;
		}

		app-error-message {
			width: 100%;
			position: relative;
			top: -1.15rem;
		}
	}
}

mat-dialog-actions {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
