<mat-dialog-content>
	<form [formGroup]="changePassForm">
		<app-password-input
			controlName="oldPass"
			placeholder="Old password"
			formControlName="oldPass"
		></app-password-input>

		<app-error-message [control]="oldPassControl"></app-error-message>

		<app-password-input
			controlName="newPass"
			placeholder="New password"
			formControlName="newPass"
		></app-password-input>

		<app-error-message
			[patternDescription]="passPatternDesc"
			[control]="newPassControl"
		></app-error-message>

		<app-password-input
			controlName="confirm"
			placeholder="Confirm new password"
			formControlName="confirmNewPass"
		></app-password-input>

		<app-error-message
			[control]="confirmNewPassControl"
		></app-error-message>
	</form>
</mat-dialog-content>
<mat-dialog-actions>
	<button
		mat-raised-button
		color="primary"
		[disabled]="
			changePassForm.invalid ||
			confirmNewPassControl?.value !== newPassControl?.value
		"
		(click)="onSubmit()"
	>
		Submit
	</button>
	<button mat-raised-button color="warn" [mat-dialog-close]>Cancel</button>
</mat-dialog-actions>
