<div></div>
<div *ngFor="let client of allClients; let i=index;" class="order">
	<div class="close-btn-wrap">
		<button
			type="button"
			mat-icon-button
			class="close-button"
            (click)="openDeleteOrderDialog(ordersIds[i])"
		>
			<mat-icon>close</mat-icon>
		</button>
	</div>

    <div>
        User 

        <span class="name">{{client.firstName}} {{client.lastName}} </span> 

        <button class="gradient-button"
            (click)="goToUserDetails(client.id)">
            See client 
        </button>
    </div>
    <div>
        wants to buy <span class="model">{{allAirConditioners[i].model}}</span> 
        
        <button class="gradient-button"
            (click)="goToAirConditionerDetails(allAirConditioners[i].id)">
            See air conditioner
        </button>
    </div>
</div>