@use '../../../../../assets/styles/gradient-button.scss' as *;
@use '../../../../../assets/styles/variables.scss' as *;

.order {
    background-color: white;
    box-shadow: $section-shadow;
    margin: auto;
    margin-top: 5rem;
    width: 50%;
    padding: 4rem;
    border-radius: 30px;
    font-size: 1.5rem;

    .name, .model {
        color: $primary;
    }

    .gradient-button {
        position: relative;
        bottom: 1.5rem;
        margin-left: auto;
        display: block;
        padding: 0.7rem 0.5rem;
    }

	.close-btn-wrap {
        width: 40px;
        height: 40px;
		z-index: 3;
		position: relative;
		top: -3rem;
		left: 100%;
        padding-top: 10px;

        &:hover {
            border-radius: 50%;
            background-color: $white;
        }

		.close-button {
			display: flex;
			align-self: center;
			justify-content: center;
			color: $accent;
			border-radius: 50%;
			font-weight: bold;
			cursor: pointer;

			.mat-icon {
                    height: 40px;
                    width: 40px;
				display: flex;
				align-self: center;
				justify-content: center;

			}
		}
	}
}