<div class="wrapper">
	<h3>Are you sure you are <span>done</span> with this order?</h3>

	<div class="buttons-container">
		<button (click)="deleteOrder()" class="default-button">Yes</button>
		<button (click)="closeDialog()" class="default-button  sec-accent-button">No</button>
	</div>
</div>
