<article class="profile">
	<div class="btn-container">
		<button
			*ngIf="!isExtendedVersion"
			class="btn--icon"
			[routerLink]="['/main/users', user.id]"
			title="View Profile"
		>
			<mat-icon> info </mat-icon>
		</button>
		<button
			*ngIf="currentUserService.isAdmin"
			class="btn--icon"
			title="Delete User"
			(click)="openDeleteUserDialog(user.id)"
		>
			<mat-icon> delete </mat-icon>
		</button>
		<button
			*ngIf="
				currentUserService.isAdmin ||
				currentUserService.currentUser?.id === user.id
			"
			class="btn--icon"
			title="Edit"
			(click)="openUpdateUserDialog()"
		>
			<mat-icon> edit </mat-icon>
		</button>
	</div>

	<div class="profile-image">
		<img [src]="user.profilePictureUrl" />
	</div>

	<h2 class="profile-username">{{ user.userName}}</h2>

	<div class="profile-data-container">
        <div class="profile-data" title="Names">
            <mat-icon> badge </mat-icon>
            <span>{{ user.firstName + " " + user.lastName }}</span>
        </div>

		<div class="profile-data" title="Email">
			<mat-icon> mail </mat-icon>
			<a href="mailto: {{ user.email }}">
                {{ user.email }}
            </a>
		</div>

		<div class="profile-data" title="Phone number">
			<mat-icon> call </mat-icon>
			<a href="tel:{{ user.phoneNumber }}">{{ user.phoneNumber }}</a>
		</div>

		<div *ngIf="isExtendedVersion">
			<div class="profile-data" title="Date of birth">
				<mat-icon> admin_panel_settings </mat-icon>
				<div>{{user.role}}</div>
			</div>

            <div *ngIf="user.location" class="profile-data" title="Location">
                <mat-icon> location_on </mat-icon>
                <span>{{ user.location }}</span>
            </div>

			<div class="profile-data" title="Date of birth">
				<mat-icon> calendar_month </mat-icon>
				<div>Member since: {{user.createdOn}}</div>
			</div>

			<div class="profile-data" title="Air conditioners">
				<mat-icon> air </mat-icon>
				<div>
                    <span>Air conditioners: </span>
				</div>
			</div>
		</div>
	</div>
</article>
