@use '../../../../../assets/styles/variables.scss' as *;
@import '../../../../../assets/styles/mixins.scss';

.profile {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 25px;
	height: 100%;
	text-align: center;

	.btn-container {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		right: 7px;
		top: 7px;
		z-index: 1;
		gap: 7px;

        .btn--icon {
            color: $primary;
            background-color: white;

            &:hover {
                background-color: $white;
                cursor: pointer;
            }
        }
	}

	&-image {
		.user-role {
			padding: 0.2rem;
			padding-bottom: 0.3rem;
		}
	}

	&-data-container {
		margin-top: auto;
	}

	&-username {
		font-size: 1.5rem;
		font-weight: 600;
		margin-top: 1.5rem;
		margin-bottom: 5px;
	}


	&-data {
		width: 100%;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		display: flex;
		align-items: center;

		a {
			font-size: 14px;
		}

		& > * {
			margin: 0 0.25rem;
		}
	}
}

@media only screen and (max-width: 1500px) {
	.profile-data {
		font-size: 0.75rem;
	}

	.profile-location {
		font-size: 0.9rem;
	}

	.profile-image {
		width: 7.5rem;
		height: 7.5rem;
	}
}

@media only screen and (max-width: 1250px) {
	.profile-username {
		font-size: 1.35rem;
	}

	.profile-data {
		font-size: 0.7rem;
	}
}

@media only screen and (max-width: 1000px) {
	.profile-username {
		font-size: 1.25rem;
	}
}
