// Custom
@use './assets/styles/variables' as *;
@use './assets/styles/mixins' as *;
@use './assets/styles/custom-styles.scss' as *;

// Material
@use '@angular/material' as mat;
@import '@angular/material/theming';
@include mat-core();

$color-palette: (
    50 : #fff6e0,
    100 : #ffe9b3,
    200 : #ffdb80,
    300 : #ffcd4d,
    400 : #ffc226,
    500 : #ffb700,
    600 : #ffb000,
    700 : #ffa700,
    800 : #ff9f00,
    900 : #ff9000,
    A100 : #ffffff,
    A200 : #fff9f2,
    A400 : #ffe0bf,
    A700 : #ffd4a6,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$refreshing-air-frontend: mat.define-palette($color-palette);
$refreshing-air-frontend-theme: mat.define-light-theme(
    (
        color: (
            primary: $refreshing-air-frontend,
            accent: $refreshing-air-frontend
        )
    )
);

@include mat.all-component-themes($refreshing-air-frontend-theme);

.snack-bar {
    background-color: $white;
    box-shadow: $button-shadow;
    color: $text-fill-color;
}

.round-without-padding {
	.mat-dialog-container {
		padding: 0px;
		border-radius: 30px;
	}
}

.example-panel {
	&.mat-select-panel {
		display: flex;
		flex-direction: column;
		min-width: 200px !important;
		margin-top: 30px;
		margin-left: 35px;
		background-color: $white !important;
	}
}

@media (max-width: 1200px) {
	.modal-container {
		width: 76vw !important;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	text-decoration: none;
}

html {
    height: 100%;

    &::-webkit-scrollbar {
        width: 0.8rem;
        background-color: $background;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary;
        border-radius: 5rem;
    }

    body {
        background-color: $white;
        height: 100%;
        margin: 0;
        border: none;
        padding: 0;
        font-family: Helvetica;
    }
}

