<div class="profile">
	<div class="profile-image">
		<img
			[src]="airConditioner.pictureUrl"
		/>
	</div>

	<div class="profile-info-container">
		<div class="profile-username-location">
			<h2 class="username">{{ airConditioner.model}}</h2>
			<div class="location">
				<mat-icon> flag </mat-icon>
				<span>{{ airConditioner.country }}</span>
			</div>
		</div>

		<div class="profile-data-container">
			<div class="profile-data profile-email">
            <mat-icon> factory </mat-icon>
                <span>{{airConditioner.manufacturer}}</span>
			</div>

			<div class="profile-data">
				<mat-icon> credit_card </mat-icon>
                <span>{{airConditioner.price | currency}}</span>
			</div>

        <button
            class="gradient-button" 
            (click)="openConfirmOrderDialog(airConditioner.id)"
        >
            Order
        </button>
		</div>

		<div class="profile-btn-container">
			<button
				*ngIf="!isExtendedVersion"
				class="btn btn--icon more"
				[routerLink]="['/main/air-conditioners', airConditioner.id]"
				title="View Profile"
			>
				<mat-icon> info </mat-icon>
			</button>
			<button
				*ngIf="currentUserService.isAdmin"
				class="btn btn--icon delete"
				title="Delete User"
				(click)="openDeleteAirConditionerDialog(airConditioner.id)"
			>
				<mat-icon> delete </mat-icon>
			</button>
			<button
				*ngIf="
					currentUserService.isAdmin ||
					currentUserService.currentUser?.id === airConditioner.id
				"
				class="btn btn--icon edit"
				title="Edit"
				(click)="openUpdateAirConditionerDialog()"
			>
				<mat-icon> edit </mat-icon>
			</button>
		</div>
	</div>
</div>
