@use '../../../../../assets/styles/variables.scss' as *;
@use '../../../../../assets/styles/gradient-button.scss' as *;
@import '../../../../../assets/styles/mixins.scss';

.profile {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

	&-image {
		margin-left: 1rem;

		.user-role {
			padding: 0.5rem;
			padding-bottom: 1.5rem;

			p {
				position: absolute;
				left: 33%;
				bottom: 25%;
			}
		}
	}

	.profile-info-container {
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.profile-username-location {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			width: 50%;
			margin-left: 5%;

			.username {
				font-size: 1.8rem;
				font-weight: 600;
				margin-bottom: 1.5rem;
			}

			.location {
				display: flex;
				justify-content: center;
				align-items: flex-end;
				color: grey;

				span {
                    margin-left: 1rem;
					font-size: 1rem;
				}
			}
		}

		.profile-data-container {
			display: flex;
			flex-direction: column;
			width: 40%;

			.mat-icon {
				margin-right: 1rem;
			}

            .gradient-button {
                margin-top: 1rem;
                padding: 0.7rem 1rem;
                width: 20%;
            }
		}

		.profile-email {
			margin-bottom: 1.5rem;
		}

		.profile-data {
			display: flex;
			align-items: flex-end;
		}

		.profile-btn-container {
			margin-left: 2rem;

			.btn {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: space-between;
				margin-bottom: 1rem;

				&--icon {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}

            .btn--icon {
                color: $primary;
                background-color: white;

                &:hover {
                    background-color: $white;
                    cursor: pointer;
                }
            }
		}
	}
}

@media only screen and (max-width: 1024px) {
	.profile {
		.profile-image {
			width: 8rem;
			height: 8rem;
			overflow: hidden;
			position: relative;
		}
	}
}

@media only screen and (max-width: 768px) {
	.profile {
		width: 100%;

		.profile-image {
			width: 6rem;
			height: 6rem;
			overflow: hidden;
			position: relative;

			p {
				position: absolute;
				left: 33%;
				bottom: 25%;
			}
		}

		.profile-info-container {
			.profile-username-location {
				.username {
					font-size: 1.2rem;
					margin-bottom: 1rem;
				}

				.location {
					span {
						font-size: 0.8rem;
					}
				}
			}

			.profile-data {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				font-size: 0.8rem;

				.mat-icon {
					width: 20px;
					height: 20px;
					font-size: 20px;
				}
			}
		}
	}
}

@media only screen and (max-width: 427px) {
	.profile {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;

		&-image {
			width: 6rem;
			height: 6rem;
			overflow: hidden;
			margin-bottom: 2rem;
			margin-left: 0;

			p {
				position: absolute;
				left: 33%;
				bottom: 25%;
			}
		}

		.profile-info-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;

			.profile-username-location {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;

				.username {
					font-size: 1.4rem;
					font-weight: 600;
					margin-bottom: 1rem;
					margin: auto;
				}

				.location {
					margin-bottom: 2rem;

					span {
						font-size: 1rem;
					}
				}
			}

			.profile-data-container {
				width: 70%;
				display: flex;
				align-items: flex-start;
				justify-content: center;

				.profile-data {
					display: flex;
					justify-content: flex-start;
					align-items: flex-end;
					font-size: 1rem;
					margin: 0.5rem 0;

					.mat-icon {
						width: 20px;
						height: 20px;
						font-size: 20px;
					}
				}
			}

			.profile-btn-container {
				width: 70%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				margin-top: 2rem;
			}
		}
	}
}
