<header class="header">
	<div class="header-left">
		<span *ngIf="currentUserService.isAdmin" (click)="onNavigationToggle()">
			<mat-icon class="menu-icon" >
                <span class="material-symbols-outlined"> menu </span>
            </mat-icon >
		</span>
		<h1 [routerLink]="['/main/orders']">RefreshingAir</h1>
	</div>

	<div class="header-right">
		<button class="header-right-btn" [matMenuTriggerFor]="menu">
			<img
				[src]="currentUserService.currentUser?.profilePictureUrl"
				class="menu-img"
			/>
		</button>

		<mat-menu #menu="matMenu" class="mat-menu-container">
			<div
				class="profile-link-container"
				mat-menu-item
				class="mat-menu-btn"
				(click)="navigateToProfile()"
			>
				<mat-icon class="mat-menu-icon"
					><span class="material-symbols-outlined">
						face
					</span>
                </mat-icon >
				<span>Profile</span>
			</div>

			<div class="mat-menu-btn">
				<div class="theme-change" (click)="toggleLightMode($event)">
					<mat-icon matSuffix>{{
						changeIcon ? 'bedtime' : 'brightness_5'
					}}</mat-icon>
					<p>Theme change</p>
				</div>
			</div>

			<button
				(click)="changePassword()"
				mat-menu-item
				class="mat-menu-btn"
			>
				<mat-icon class="mat-menu-icon"
					><span class="material-symbols-outlined">
						password
					</span></mat-icon
				>
				<span>Change password</span>
			</button>
			<button (click)="logout()" mat-menu-item class="mat-menu-btn">
				<mat-icon class="mat-menu-icon"
					><span class="material-symbols-outlined">
						exit_to_app
					</span></mat-icon
				>
				<span>Sign out</span>
			</button>
		</mat-menu>
	</div>
</header>
