@use '../../../../assets/styles/variables' as *;

.header {
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background-color: $gray;
	box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.4);
	padding: 0 0.5rem;
	height: 3rem;

	&-left {
		display: flex;
		align-items: center;

		h1 {
			margin-left: 10px;
			cursor: pointer;
            color: transparent;
				background-image: linear-gradient(
					to right,
					$first-logo-gradient,
					$second-logo-gradient,
					$third-logo-gradient
				);
				background-clip: text;
		}

		.menu-icon {
			width: 25px;
			height: 25px;
			color: $white;
			cursor: pointer;

			&:hover {
				filter: opacity(0.85);
				transform: scale(1.1);
			}
		}
	}

	&-right-btn {
		width: 2.5rem;
		height: 2.5rem;
		background-color: transparent;
		border: none;
		color: $text;
		cursor: pointer;

		img {
			width: 100%;
			height: 100%;
		}

		&:hover {
			color: white;
			transform: scale(1.1);
		}
	}
}

.menu-img {
	width: 2rem;
	border: none;
	border-radius: 50%;
	margin-right: 0.1rem;
}

.profile-link-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 1rem;
	margin-top: 1rem;
	cursor: pointer;

	span {
		width: 5px;
	}

	p {
		margin-left: 1rem;
		color: inherit;
	}

	&:hover {
		opacity: 80%;
	}
}

.theme-change {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0.5rem 1rem;
	margin-top: 1.2rem;
	cursor: pointer;
    color: rgba(0, 0, 0, 0.54);

	p {
		margin-left: 1rem;
	}

	&:hover {
		opacity: 80%;
	}
}
