@use '../../../../../assets/styles/variables' as *;
@use '../../../../../assets/styles/gradient-button.scss' as *;

footer {
    background-color: $background;
    text-align: center;
    background-image: url('../../../../../assets/images/footer-image.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 20%;

    .socials {
        padding: 3rem 0;

        a {
            height: 6rem;
            width: 6rem;
            line-height: 6rem;
            font-size: 3rem;
            margin: 2rem;
            border-radius: 50%;
            background-color: $white;

            &:hover {
                background-color: $background;
            }

            &.facebook,
            &.twitter,
            &.linkedin {
                color: $blue;
                border: 0.3rem solid $blue;
            }

            &.instagram {
                color: orange;
                border: 0.3rem solid orange;
            }
        }
    }

    .links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 3rem 0;

        a {
            padding: 0.7rem 2rem;
            color: $background;
            font-size: 1.5rem;
            margin-left: 2rem;

            &:hover {
                background: $primary;
            }
        }
    }

    .credit {
        font-size: 2rem;
        color: $white;
        font-weight: lighter;
        padding: 1.5rem;

        a {
            color: $primary;
        }
    }
}
