<footer>
    <div class="socials">
        <a href="#" class="facebook fab fa-facebook-f"></a>
        <a href="#" class="instagram fab fa-instagram"></a>
        <a href="#" class="twitter fab fa-twitter"></a>
        <a href="#" class="linkedin fab fa-linkedin"></a>
    </div>

    <div class="links">
        <a routerLink="" class="gradient-button" fragment="about-us">About us</a>
        <a routerLink="" class="gradient-button" fragment="features">Features</a>
        <a routerLink="" class="gradient-button" fragment="reviews">Reviews</a>
        <a routerLink="" class="gradient-button" fragment="contact-us">Contact us</a>
    </div>

    <div class="credit">
        Created by
        <a href="https://www.instagram.com/vlahov9/" target="_blank">
           vlahov 
        </a>
        | all rights reserved
    </div>
</footer>
