<div class="page">
    <div >
        <h1 class="title">Air conditioners page</h1>
        <div class="display-cards-btns" ngDefaultControl>
            <mat-button-toggle-group>
                <mat-button-toggle
                    (click)="isListDisplayed = true"
                    [ngClass]="{
                        inactive: isListDisplayed,
                        active: !isListDisplayed
                    }"
                >
                    <mat-icon>list</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle
                    (click)="isListDisplayed = false"
                    [ngClass]="{
                        inactive: !isListDisplayed,
                        active: isListDisplayed
                    }"
                >
                    <mat-icon><i class="user-list"></i>grid_on</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
    <div class="container">
        <div class="flex-row">
            <div class="top-row">
                <button
                    *ngIf="currentUserService.isAdmin"
                    (click)="openCreateAirConditionerDialog()"
                    class="gradient-button create-user-btn"
                >
                    Create air conditioner 
                </button>
            </div>
        </div>
        <div class="filter-row">
            <form [formGroup]="filterForm">
                <div class="form-inputs">
                    <mat-form-field appearance="legacy">
                        <input
                            formControlName="country"
                            type="text"
                            matInput
                            placeholder="Country"
                        />
                    </mat-form-field>
                    <mat-form-field appearance="legacy">
                        <input
                            formControlName="model"
                            type="text"
                            matInput
                            placeholder="Model"
                        />
                    </mat-form-field>
                    <mat-form-field appearance="legacy">
                        <input
                            formControlName="manufacturer"
                            type="text"
                            matInput
                            placeholder="Manufacturer"
                        />
                    </mat-form-field>
                </div>

                <div class="form-buttons">
                    <button mat-flat-button color="accent" (click)="applyFilters()">
                        Apply Filters
                    </button>
                    <button
                        mat-flat-button
                        color="primary"
                        (click)="applyFilters(true)"
                    >
                        Reset Filters
                    </button>
                </div>
            </form>
            <mat-paginator
                [length]="count"
                [pageSize]="size"
                [pageSizeOptions]="[12, 24, 60, 120]"
                showFirstLastButtons
            ></mat-paginator>
        </div>
        <p *ngIf="!airConditioners.length" class="no-users-message">No air conditioners available</p>

        <div *ngIf="!isListDisplayed" class="card-wrap">
            <app-air-conditioner-card
                *ngFor="let airConditioner of airConditioners"
                [airConditioner]="airConditioner"
                (delete)="onDeleted(airConditioner)"
                [isExtendedVersion]="false"
                class="user-card"
            ></app-air-conditioner-card>
        </div>

        <div *ngIf="isListDisplayed" class="list-wrap">
            <div class="user-list-item" *ngFor="let airConditioner of airConditioners">
                <app-list-item
                    [airConditioner]="airConditioner"
                    (delete)="onDeleted(airConditioner)"
                    [isExtendedVersion]="false"
                    class="user-list"
                >
                </app-list-item>
            </div>
        </div>
    </div>
</div>