<form
	[formGroup]="createUserForm"
	(ngSubmit)="onSubmit()"
	class="create-user-form modal-container scrollbar"
>
	<div class="close-btn-wrap">
		<button
			type="button"
			mat-icon-button
			class="close-button"
			[disabled]="loading"
		>
			<mat-icon mat-dialog-close>close</mat-icon>
		</button>
	</div>

	<h2 class="title">{{ title }}</h2>

	<div class="flex-container">
		<div class="form-fields-container">
			<mat-form-field>
				<input matInput placeholder="First name" formControlName="firstName" />
			</mat-form-field>
			<app-error-message [control]="firstNameControl"> </app-error-message>

			<mat-form-field>
				<input matInput placeholder="Last name" formControlName="lastName" />
			</mat-form-field>
			<app-error-message [control]="lastNameControl"> </app-error-message>

			<mat-form-field
					*ngIf="isUpdate">
				<input
					matInput
					placeholder="Username"
					formControlName="userName"
				/>
			</mat-form-field>
			<app-error-message [control]="userNameControl"> </app-error-message>

			<mat-form-field>
				<input
					[readonly]="isUpdate"
					matInput
					placeholder="Email"
					formControlName="email"
				/>
			</mat-form-field>
			<app-error-message [control]="emailControl"> </app-error-message>

			<div class="roles">
				<p class="roles-label">Role*</p>

				<mat-button-toggle-group
					id="roles"
					formControlName="role"
					aria-labelledby="Roles"
                    (valueChange)="newRoleSelected($event)"
				>
					<mat-button-toggle
						[disabled]="!currentUserService.isAdmin"
						*ngFor="let role of roles"
						[value]="role"
					>
						{{ role | titlecase }}
					</mat-button-toggle>
				</mat-button-toggle-group>
			</div>

			<mat-form-field *ngIf="isTechnician">
				<input
					matInput
					placeholder="Location"
					formControlName="location"
				/>
			</mat-form-field>

			<app-error-message [control]="locationControl"> </app-error-message>
			<mat-form-field>
				<input
					matInput
					placeholder="Phone number"
					formControlName="phoneNumber"
				/>
			</mat-form-field>
			<app-error-message [patternDescription]="'Not supported characters'" [control]="phoneNumberControl">
			</app-error-message>

		</div>
		<div class="profile-picture-container">
			<img
				[src]="
					profilePictureControl?.value ||
					'../../../../../assets/images/blank-profile-picture.webp'
				"
				alt="profile-picture"
				class="profile-picture"
			/>

            <app-upload-widget *ngIf="isUpdate" (newPictureUploaded)="onNewPhotoSelected($event)"></app-upload-widget>
		</div>
	</div>
	<div class="btn-flex">
		<button
			mat-raised-button
            color="primary"
			type="submit"
			[disabled]="!createUserForm.valid"
			class="submit-btn"
		>
			Submit
		</button>
	</div>
</form>
