<section>
    <h1>404</h1>
    <p>Not found <i class="fa-solid fa-face-sad-tear"></i></p>
    <div>
        <button 
            mat-raised-button 
            color="primary"
            class="btn" 
            (click)="navigateToHomePage()"
        >
            Go back 
        </button>
    </div>
</section>
