<main>
	<input id="tab1" type="radio" name="tabs" checked />
	<label for="tab1">Details</label>

	<input id="tab2" type="radio" name="tabs" />
	<label for="tab2">Reviews</label>

	<section id="content1">
		<div class="user-card-container">
			<app-air-conditioner-card
				*ngIf="airConditioner"
				[airConditioner]="airConditioner"
				(delete)="onDelete(airConditioner)"
				[isExtendedVersion]="true"
			></app-air-conditioner-card>
		</div>
	</section>

	<section id="content2">

        working great
    </section>
</main>
