@use '../../../../assets/styles/variables' as *;
@use '../../../../assets/styles/gradient-button.scss' as *;

.blog {
    background-color: $white;
    border-radius: 40px;
    box-shadow: $section-shadow;

    .image {
        height: 25rem;
        overflow: hidden;
        width: 100%;
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
            transition: 0.2s linear;
        }
    }

    &:hover {
        .image {
            img {
                transform: scale(1.2);
            }
        }
    }

    .content {
        padding: 2rem;
        text-align: center;

        .title {
            font-size: 2.5rem;
            line-height: 1.5;
            color: $primary;
        }

        .title:hover {
            color: $primary;
        }

        span {
            color: $primary;
            display: block;
            padding-top: 1rem;
            font-size: 2rem;
        }

        p {
            font-size: 1.6rem;
            line-height: 1.8;
            color: $black;
            padding: 1rem 0;
        }

        .gradient-button {
            margin-top: 1rem;
            display: inline-block;
            font-size: 1.5rem;
            padding: 0.7rem 2rem;
        }
    }
}
