<div class="blog">
    <div class="image">
        <img [src]="imageSource" alt="Blog image" />
    </div>
    <div class="content">
        <a [href]="blogSource" class="title">{{ title }}</a>

        <p>
            <ng-content></ng-content>
        </p>

        <a
            color="primary"
            [href]="blogSource"
            target="blank"
            class="gradient-button"
        >
            Read more
        </a>
    </div>
</div>
