@use '../../../../assets/styles/variables' as *;
@use '../../../../assets/styles/breakpoints' as *;
@use '../../../../assets/styles/gradient-button.scss' as *;

.main {
    min-height: 100vh;
    background: url(../../../../assets/images/main-image.jpg) no-repeat;
    background-size: cover;
    background-position: center;

    .content {
        position: relative;
        top: 50vh;

        h1 {
            font-size: 6rem;
            text-align: center;

            color: transparent;
				background-image: linear-gradient(
					to right,
					$first-logo-gradient,
					$second-logo-gradient,
					$third-logo-gradient
				);
				background-clip: text;
        }

        p {
            font-size: 2rem;
            font-weight: lighter;
            line-height: 1.8;
            line-height: 3rem;
            color: $white;
            text-align: center;
        }

        a {
            padding: 0.7rem 2rem;
            display: block;
            margin: auto;   
            font-size: 1.3rem;
            margin-top: 4rem;
            width: 10rem;
            background-color: #f3da9c;
            color: $black;
            box-shadow: $button-shadow;
            
            &:hover {
                background: $primary;
            }
        }
    }
}

@media (max-width: $medium-size-screen) {
    .main {
        background-position: left;
        justify-content: center;
        text-align: center;

        .content {
            h1 {
                font-size: 4.5rem;
            }

            p {
                font-size: 1.5rem;
            }
        }
    }
}
