<section class="main public-section" id="main">
    <div class="content">
        <h1>RefreshingAir</h1>

        <p>Stay cool with us.</p>

        <a
            color="primary"
            routerLink="/public/register"
            class="gradient-button"
        >
            Register
        </a>
    </div>
</section>
<router-outlet> </router-outlet>
