@use '../../../../assets/styles/variables' as *;
@use '../../../../assets/styles/gradient-button.scss' as *;

.feature {
    padding: 5rem;
    text-align: center;
    background-color: $background;
    margin-top: 1rem;
    row-gap: 1rem;

    img {
        height: 20rem;
        width: 20rem;
        border-radius: 50%;
    }

    h3 {
        color: $white;
        font-size: 2rem;
        padding: 1rem 0;
        font-weight: normal;
    }

    .gradient-button {
        font-size: 1.5rem;
        margin-top: 0.5rem;
        display: inline-block;
        padding: 0.5rem 2rem;
    }
}
