// Colors
$black: #26262d;
$white: #eee;
$background: #3e3e40;
$blue: rgb(77, 77, 213);
$gray: rgb(89, 86, 86);
$section-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
$button-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%),
    0px 1px 18px 0px rgb(0 0 0 / 12%);

$primary: #eec869;
$primary-light: #f3d588;
$primary-dark: #f0ae08;

$accent: #e6837f;

$text: #f6f7eb;
$text-fill-color: #313942;
$dark-grey: #c7c3c3;
$light-grey: #ece8e8;

$first-logo-gradient: #ffb700;
$second-logo-gradient: #e3d09e;
$third-logo-gradient: #ffffff;

$icons-light-grey: #7d8396;
$icons-dark-grey: #313942;