@use '../../assets/styles/variables' as *;


.public-heading {
    text-align: center;
    color: $white;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;

    span {
        color: $primary;
        text-transform: uppercase;
    }
}

.public-section {
    padding: 2rem 7rem;
}