@use '../../assets/styles/variables' as *;
@import './mixins.scss';

.gradient-button {
	font-weight: 600;
	cursor: pointer;
	position: relative;
	background: $primary;
	border-radius: 16px;
	border: 1px solid $primary;
    box-shadow: $button-shadow;
	background-clip: padding-box;
	color: var(--text);
	@include background-image-gradient(
		$primary-dark,
		$primary-light,
		15%,
		50%,
        #fff
	);

    &:hover {
        background: $primary;
    }
}
